!!! 5
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Scroll Bug

    link(rel='stylesheet', type='text/css', href='styles/main.css')

  body

    article

      section
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur iaculis dictum lacus vitae pretium. Curabitur auctor enim ac varius ullamcorper. Vestibulum placerat porta dictum. Mauris ac magna massa. Suspendisse ac neque tortor. Nam et accumsan justo. Nunc in ligula nec velit pulvinar iaculis condimentum in neque. Praesent sit amet dolor blandit ante tincidunt bibendum eget in felis. Nam ac dapibus tellus. Sed lacinia erat ac odio facilisis, a sagittis sem vehicula. Quisque blandit bibendum fermentum. Cras sed odio iaculis, ultricies diam id, commodo dui. Fusce nec diam placerat diam suscipit ullamcorper. Curabitur quis urna ut eros egestas varius ac non lacus. Integer id venenatis sapien. Donec pharetra vestibulum metus eu iaculis. Aliquam erat volutpat. Nulla luctus diam sit amet faucibus vulputate. Pellentesque luctus rutrum sollicitudin. Nulla pulvinar varius augue, at interdum velit feugiat quis. Nulla vel cursus justo. Phasellus erat mauris, adipiscing in leo vitae, laoreet vestibulum lacus. Ut pellentesque rhoncus est, id tempus justo consectetur sit amet. Nam nec risus et magna lobortis accumsan. Nam tempor nibh augue, porta pulvinar orci porta ac. Sed dui eros, volutpat ac tellus interdum, gravida eleifend enim. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam ullamcorper, ipsum rhoncus blandit egestas, odio mauris vehicula nibh, at sagittis ligula lacus a risus. Fusce non eros vitae felis accumsan ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc dictum et purus ut faucibus. Praesent enim orci, consectetur ut enim non, lacinia mattis leo. Phasellus ultrices ultricies erat, quis dapibus nunc. Sed auctor, lorem quis viverra pellentesque, tortor diam vehicula urna, at facilisis justo arcu vel odio. Fusce dapibus, lorem eu ultricies commodo, sapien orci vulputate orci, vitae semper odio libero eget justo. Duis fringilla ligula vitae urna fringilla, a vestibulum augue vehicula. Curabitur molestie, justo a lacinia cursus, nisl eros molestie eros, vitae aliquam quam urna quis nibh. Vivamus commodo nibh a dapibus rhoncus. Nulla pretium velit turpis, non convallis nulla sollicitudin at. Donec volutpat lacus id mauris pharetra, ut suscipit tortor euismod. Suspendisse fermentum lacus sed bibendum eleifend. Vivamus ac feugiat neque. Mauris massa odio, lobortis eget dui et, bibendum hendrerit nisl. Donec adipiscing quis nisl in facilisis. Suspendisse enim est, ornare sed purus in, accumsan mollis erat. Nullam massa justo, adipiscing id consectetur eu, auctor vel dui. Nullam pretium ipsum vitae sollicitudin tristique. Morbi eu risus vel dolor aliquam porta sit amet quis dui. Sed risus ante, tempor ut felis id, lacinia vulputate quam. Aliquam tristique dolor at sapien laoreet lobortis. Nullam eu est congue, feugiat arcu at, consectetur est. Nullam lacinia augue eu augue commodo lacinia. Morbi mollis dui neque, a sodales purus aliquet a. Maecenas a rutrum nisl, id luctus nulla. Curabitur at sollicitudin mauris, quis gravida ligula. Sed nisi metus, lobortis non consequat quis, volutpat ac ipsum. Mauris sit amet dolor tincidunt, cursus libero id, dapibus erat. Sed ac congue eros, non placerat nisl.

      section
        h2.bullet Just the beginning...
        hr
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        hr
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='scripts/main.js')
